::root {
  --l-blue: #00b4db;
  --blue: #0083b0;
  --grape: #b00083;
  --lime: #83b000;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-image: linear-gradient(to right, #00b4db, #0083b0);
  /* background-image: white; */
}

.big-font {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  color: aliceblue;
  font-size: 3.5em;
}

.countdown {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  color: #b00083;
  font-size: 3.5em;
}

.big-button {
  /* background: radial-gradient(circle, var(--grape) 100%, var(--blue) 0%); */
  background-color: #b00083;
  border-radius: 12px;
  border-width: 1px;
  border-color: red;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

.intro {
  margin-left: 28%;
}

/* .button-container {
  height: 200px;
  position: relative;
  border: 3px solid green;
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 3px solid #83b000;
}

.answer-button {
  background-color: white;
  border-radius: 12px;
  border-width: 1px;
  border-color: red;
  font-family: "Trebuchet MS", sans-serif;
  color: --grape;
  font-size: 1em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 90%;
  padding: 20px 20px;
  text-align: left;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.3em;
}

.hide {
  display: none;
}
