::root {
  --l-blue: #00b4db;
  --blue: #0083b0;
  --grape: #b00083;
  --lime: #83b000;
  --hover-green: #3e8e41;
  --choice-green: #4caf50;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  color: #0083b0;
  margin: 15%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-image: aliceblue);
}

.high-score {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  color: #b00083;
  font-size: 1em;
}

.big-font {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  color: #b00083e;
  font-size: 3.5em;
}

.countdown {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  color: #b00083;
  font-size: 2.5em;
}

.big-button {
  /* background: radial-gradient(circle, var(--grape) 100%, var(--blue) 0%); */
  background-color: #b00083;
  border-radius: 12px;
  border-width: 1px;
  border-color: red;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

.intro {
  margin-left: 15%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.answer-button {
  background-color: white;
  border-radius: 12px;
  border-width: 1px;
  border-color: red;
  font-family: "Trebuchet MS", sans-serif;
  color: --grape;
  font-size: 1em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 90%;
  padding: 20px 20px;
  text-align: left;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.3em;
}

.choices-btn {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.choices-btn:hover {
  background-color: #3e8e41;
}

.hide {
  display: none;
}
